body {
    background-color: #1a1a1a;
}

.poster {
    width: 400px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

h1, h2, h3 {
    background-color: #8b0000;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.centro {
   text-align: center;
}

ol, ul {
    color: white;
}

.lista1 {
    list-style-type: square;
}

.lista2 {
    list-style-type: circle;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    color: white;
}

table th {
    background: #8b0000;
    padding: 10px;
}

table td {
    border: 1px solid #444;
    padding: 10px;
}

table tr:nth-child(even) {
    background: #2c2c2c;
}